# Pipeline requirements
requests
pandas
duckdb
toml
datetime
ipykernel
seaborn
# time
# json
# ast

# dbt requirements
dbt-core
dbt-duckdb

# importing packages requirements
# importlib
# subprocess
# sys